// // NAMED COLORS
$colors : (
  lucky-point: #221A75,
  lightning-yellow: #ffc412,
  white: #fefefe,
  black: #222222,
);

// // THEME COLORS
$theme : (
  main: map-get($colors, lucky-point),
  secondary: map-get($colors, lightning-yellow),
  light: map-get($colors, white),
  dark: map-get($colors, dark),
);
