$colors: (  
  base: #110C40,
  main: #342ca5,
  contrast: #FDCA17,
  white: #FEFEFE,
  black: #222222,
);

$picross: (
  values-1: #2c275f,
  values-2: #342a6d,
  square: #B7C1D7,
  square-hover: #8ea4eb,
  square-separation:  #f1d11c,
  square-true: #342ca5,
  square-true-hover: #4438cf,
  square-false: #15104d,
  square-false-hover: #1d166e,
  square-active: #3429a8,
  square-highlight: #aeb8f3,
  square-highlight-true: #3d32b9,
  square-highlight-false: #19135e,
);
