@use '../functions/em.scss' as *;
@use '../functions/respond-to.scss' as *;
@use '../config/colors.scss' as *;

$base-font-size: 1em;

*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: $base-font-size;
}

html,
body {
  width: 100%;
  margin: 0;
  font-family: "Roboto";
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;

  //firefox custom scrollbar
  scrollbar-color: map-get($colors, contrast) map-get($colors, base);
  scrollbar-width: auto;

  // ie and edge custom scroll bar
  scrollbar-face-color: map-get($colors, basse);
  scrollbar-track-color: map-get($colors, contrast);
  scrollbar-arrow-color: map-get($colors, base);
  scrollbar-shadow-color: map-get($colors, base); //border
}

body {
  background-color: map-get($colors, main);
  background-image: url("../img/body-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

svg:not(:root) {
  overflow: visible;
}

//chrome custom scroll bar
body::-webkit-scrollbar {
  width: rem(15);
  height: rem(15);
}

body::-webkit-scrollbar-track {
  background-color: map-get($colors, base);
  border-radius: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: map-get($colors, contrast);
  border-radius: 0;
}

body::-webkit-scrollbar-corner {
  background-color: map-get($colors, contrast);
}

button {
  cursor: pointer;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
a:focus,
textarea:focus {
  outline: none;
}

.noscript {
  color: map-get($colors, contrast);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.noscript__link {
  color: map-get($colors, contrast);
}

@include respond-to(fullHD) {
  html {
    font-size: $base-font-size * 1.4;
  }
}

@include respond-to(quadHD) {
  html {
    font-size: $base-font-size * 2;
  }
}

@include respond-to(ultraHD) {
  html {
    font-size: $base-font-size * 2.8;
  }
}
