@import '../config/colors.scss';
@import '../../core/functions/respond-to.scss';

*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto';
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 1em;

  //firefox custom scrollbar
  scrollbar-color: map-get($colors, contrast) map-get($colors, base);
  scrollbar-width: auto;

  // ie and edge custom scroll bar
  scrollbar-face-color: map-get($colors, basse);
  scrollbar-track-color: map-get($colors, contrast);
  scrollbar-arrow-color: map-get($colors, base);
  scrollbar-shadow-color: map-get($colors, base); //border
}

body {
  background-color: map-get($colors, main);
  background-image: url("../img/body-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

svg:not(:root) {
  overflow: visible;
}

//chrome custom scroll bar
body::-webkit-scrollbar {
  width: rem(15);
  height: 0;
}

body::-webkit-scrollbar-track {
  background-color: map-get($colors, base);
  border-radius: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: map-get($colors, contrast);
  border-radius: 0;
}

body::-webkit-scrollbar-corner {
  background-color: map-get($colors, contrast);
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
a:focus,
textarea:focus {
  outline: none;
}
