@import '../config/colors.scss';
@import '../../core/functions/respond-to.scss';

*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  // font-family: $fontfamily.main;
  // background-size: cover;
  font-size: 1em;
  //firefox custom scrollbar
  scrollbar-color: map-get($theme, secondary) map-get($theme, main);
  scrollbar-width: auto;
  // ie and edge custom scroll bar
  scrollbar-face-color: map-get($theme, main);
  scrollbar-track-color: map-get($theme, secondary);
  scrollbar-arrow-color: map-get($theme, main);
  scrollbar-shadow-color: map-get($theme, main); //border
}

body {
  // padding-top: 20px;
  background-color: map-get($theme, main);
  background-image: url("../img/body-background.svg");
  background-size: cover;
}

svg:not(:root) {
  overflow: visible;
}

//chrome custom scroll bar
body::-webkit-scrollbar {
  width: 15px;
  height: 0px;
}

body::-webkit-scrollbar-track {
  background-color: map-get($theme, main);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: map-get($theme, secondary);
  border-radius: 0px;
}

body::-webkit-scrollbar-corner {
  background-color: map-get($theme, secondary);
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
a:focus,
textarea:focus {
  outline: none;
  // border: 2px solid red;
}

// @include respond-to(desktop) {
//   html {
//     font-size: 1px;
//   }
// }