@import '../../core/functions/respond-to.scss';

.t-template__background {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.t-template__cloud {
  position: absolute;
  overflow: visible;
  // height: auto;
}

.t-template__cloud.--center {
  left: -50%;
  background-color: red;
}

.t-template__cloud.--left-top-large {
  left: -82px;
  top: -97px;
}

.t-template__cloud.--left-top-medium {
  left: 17vw;
  top: 4vw;
}

.t-template__cloud.--center-top {
  left: 52vw;
  top: -32px;
}

.t-template__cloud.--right-top-small {
  right: -72px;
  top: -73px;
}

.t-template__cloud.--right-top-medium {
  right: -23px;
  top: 137px;
}

.t-template__cloud.--right-top-large {
  right: -72px;
  top: -73px;
}

.t-template__cloud.--center {

}


.t-template__cloud.--bottom-front  {
  bottom: -317px;
  left: -146px;
  z-index: 20;
}

.t-template__cloud.--bottom-back {
  z-index: -10;
  bottom: -107px;
  left: -116px;
}


// .scroll-1 {
//   animation: scroll-1 42.05s linear infinite;
// }

// .scroll-2 {
//   animation: scroll-2 20s linear infinite;
// }

@keyframes scroll-1 {
  0% {
    -webkit-transform: translateX(-110.26vw);
    transform: translateX(-110.26vw);
  }
  100% {
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
  }
}

@keyframes scroll-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
  }
}

@include respond-to(notebook) {
  .t-template__cloud {
    font-size: 11.33px;
  }
}