<svg class="o-cloud --left-top-large" viewBox="0 0 709 381" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#left-top-large)">
    <rect x="69" y="255" width="570" height="93" fill="#3A1771" />
    <rect x="151.571" y="212.787" width="442.016" height="90.4915" fill="#2B046B" />
    <circle cx="148.188" cy="212.188" r="91.1876" fill="#3A1771" />
    <circle cx="151.5" cy="219.5" r="86.5" fill="#2B046B" />
    <ellipse cx="61.4273" cy="298.77" rx="57.4273" ry="49.7703" fill="#3A1771" />
    <ellipse cx="68.5" cy="299.5" rx="55.5" ry="44.5" fill="#2B046B" />
    <ellipse cx="349.654" cy="153.139" rx="141.654" ry="153.139" fill="#3A1771" />
    <ellipse cx="350" cy="165.5" rx="138" ry="147.5" fill="#2B046B" />
    <circle cx="549.733" cy="212.091" r="91.1876" fill="#3A1771" />
    <ellipse cx="544.5" cy="224" rx="89.5" ry="91" fill="#2B046B" />
    <ellipse cx="640.573" cy="298.058" rx="57.4273" ry="49.7703" fill="#3A1771" />
    <ellipse cx="633.5" cy="299.5" rx="53.5" ry="44.5" fill="#2B046B" />
    <rect x="69" y="275" width="570" height="68" fill="#2B046B" />
  </g>
  <defs>
    <filter id="left-top-large" x="-4" y="0" width="713" height="395" filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset dy="20" />
      <feGaussianBlur stdDeviation="2" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
    </filter>
  </defs>
</svg>