<svg class="o-cloud --left-top-large" viewBox="0 0 709 381" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#cloud-left-top-large)">
  <ellipse cx="650" cy="340" rx="34" ry="23" transform="rotate(6.5411 650 340)" fill="#2B046B" shape-rendering="geometricPrecision" />
  <ellipse cx="615.5" cy="308.5" rx="81.5" ry="54.5" fill="#2B046B" shape-rendering="geometricPrecision" />
  <rect width="143" height="47" transform="matrix(1 0 0 -1 515 363)" fill="#2B046B"/>
  <ellipse cx="645.5" cy="314.5" rx="51.5" ry="48.5" transform="rotate(16.91 645.5 314.5)" fill="#2B046B" shape-rendering="geometricPrecision" />
  <ellipse cx="341.5" cy="156" rx="146.5" ry="142" fill="#2B046B" shape-rendering="geometricPrecision" />
  <ellipse cx="539" cy="244.5" rx="106" ry="115.5" fill="#2B046B" shape-rendering="geometricPrecision" />
  <rect x="238" y="234" width="389" height="129" fill="#2B046B"/>
  <g clip-path="url(#clip0)">
  <rect x="148" y="331" width="264" height="78" fill="#2B046B"/>
  </g>
  <ellipse cx="171.5" cy="199.5" rx="85.5" ry="81.5" fill="#2B046B" shape-rendering="geometricPrecision" />
  <ellipse cx="141.5" cy="281.5" rx="130.5" ry="81.5" fill="#2B046B" shape-rendering="geometricPrecision" />
  </g>
  <defs>
  <filter id="cloud-left-top-large" x="-7" y="0" width="723" height="397" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
  <feOffset dy="10"/>
  <feGaussianBlur stdDeviation="3.5"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dx="-3" dy="10"/>
  <feGaussianBlur stdDeviation="2"/>
  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0.292861 0 0 0 0 0.18441 0 0 0 0 0.470833 0 0 0 0.28 0"/>
  <feBlend mode="normal" in2="shape" result="effect2_innerShadow"/>
  </filter>
  <clipPath id="clip0">
  <rect width="143" height="100" fill="white" transform="translate(143 263)"/>
  </clipPath>
  </defs>
</svg>
  