<svg class="o-cloud --left-top-medium" viewBox="0 0 324 173" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#cloud-left-top-medium-1)">
  <g filter="url(#cloud-left-top-medium-2)">
  <ellipse cx="273.5" cy="84.5" rx="34.5" ry="32.5" fill="#3D1978" shape-rendering="geometricPrecision" />
  <ellipse cx="199.5" cy="75.5" rx="67.5" ry="70.5" fill="#3D1978" shape-rendering="geometricPrecision" />
  <ellipse cx="112.5" cy="85" rx="49.5" ry="54" fill="#3D1978" shape-rendering="geometricPrecision" />
  </g>
  <ellipse cx="51" cy="97" rx="27" ry="26" fill="#3D1978" shape-rendering="geometricPrecision" />
  </g>
  <defs>
  <filter id="cloud-left-top-medium-1" x="-7" y="0" width="338" height="181" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
  <feOffset dy="10"/>
  <feGaussianBlur stdDeviation="3.5"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
  </filter>
  <filter id="cloud-left-top-medium-2" x="9" y="0" width="305" height="164" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
  <feOffset dy="4"/>
  <feGaussianBlur stdDeviation="2"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dy="8"/>
  <feGaussianBlur stdDeviation="3"/>
  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0.309123 0 0 0 0 0.167014 0 0 0 0 0.541667 0 0 0 0.79 0"/>
  <feBlend mode="normal" in2="shape" result="effect2_innerShadow"/>
  </filter>
  </defs>
</svg>
  