<svg class="o-cloud --right-top-medium" viewBox="0 0 309 200" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#right-top-medium)">
    <ellipse cx="243" cy="109.5" rx="63" ry="53.5" fill="#2B046B" />
    <ellipse cx="243" cy="109.5" rx="63" ry="53.5" fill="#524FFF" fill-opacity="0.38" />
    <ellipse cx="240.5" cy="114" rx="60.5" ry="49" fill="#2B046B" />
    <ellipse cx="154" cy="139" rx="61" ry="53" fill="#2B046B" />
    <ellipse cx="124.5" cy="80" rx="70.5" ry="76" fill="#2B046B" />
    <ellipse cx="124.5" cy="80" rx="70.5" ry="76" fill="#524FFF" fill-opacity="0.38" />
    <ellipse cx="129.5" cy="87" rx="70.5" ry="76" fill="#2B046B" />
    <ellipse cx="213" cy="61" rx="51" ry="50" fill="#2B046B" />
    <ellipse cx="213" cy="61" rx="51" ry="50" fill="#524FFF" fill-opacity="0.38" />
    <ellipse cx="211" cy="69" rx="51" ry="50" fill="#2B046B" />
    <ellipse cx="71" cy="114.5" rx="61" ry="51.5" fill="#2B046B" />
    <ellipse cx="71" cy="114.5" rx="61" ry="51.5" fill="#524FFF" fill-opacity="0.38" />
    <ellipse cx="83.5" cy="115.5" rx="65.5" ry="48.5" fill="#2B046B" />
  </g>
  <defs>
    <filter id="right-top-medium" x="-4" y="0" width="321" height="239" filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset dy="20" />
      <feGaussianBlur stdDeviation="2" />
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
    </filter>
  </defs>
</svg>