<svg class="o-cloud --right-top-small" viewBox="0 0 186 97" fill="none" xmlns="http://www.w3.org/2000/svg">
  <ellipse cx="118" cy="58.5" rx="30" ry="30.5" fill="#49179C" />
  <ellipse cx="118" cy="58.5" rx="30" ry="30.5" fill="#524FFF" fill-opacity="0.55" />
  <ellipse cx="27.5" cy="58.5" rx="24.5" ry="20.5" fill="#49179C" />
  <ellipse cx="27.5" cy="58.5" rx="24.5" ry="20.5" fill="#524FFF" fill-opacity="0.55" />
  <ellipse cx="27.5" cy="59.5" rx="24.5" ry="19.5" fill="#49179C" />
  <ellipse cx="67.5" cy="50.5" rx="36.5" ry="38.5" fill="#49179C" />
  <ellipse cx="67.5" cy="50.5" rx="36.5" ry="38.5" fill="#524FFF" fill-opacity="0.55" />
  <ellipse cx="67" cy="52.5" rx="37" ry="36.5" fill="#49179C" />
  <ellipse cx="134.5" cy="67" rx="27.5" ry="19" fill="#49179C" />
  <ellipse cx="134.5" cy="67" rx="27.5" ry="19" fill="#524FFF" fill-opacity="0.55" />
  <ellipse cx="135" cy="68" rx="26" ry="18" fill="#49179C" />
  <ellipse cx="117" cy="60.5" rx="30" ry="30.5" fill="#49179C" />
</svg>