<!DOCTYPE html>
<html lang="en" translate="no" class="notranslate" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google" content="notranslate">
  <meta name="description" content="A random generated Picross game">
  <meta name="keywords" content="Picross, Picross Universe, Game, Nonogram, Logic Pix">
  <meta name="author" content="Luan Sergio Damando">
  <meta name="theme-color" content="#221A75" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#221A75">
  <meta name="apple-mobile-web-app-title" content="Picross Universe">

  <link rel="apple-touch-icon" sizes="180x180" href="../../../src/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../../src/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../../src/assets/icons/favicon-16x16.png">
  <link rel="mask-icon" href="../../../src/assets/icons/safari-pinned-tab.svg" color="#221a75">
  <link rel="shortcut icon" href="../../../src/assets/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#221a75">
  <meta name="msapplication-config" content="../../../src/assets/icons/browserconfig.xml">
  <meta name="theme-color" content="#221a75">

  
  <title>Picross Universe</title>
  
  <!-- <link rel="preload" href="../../assets/style/apps.scss" as="style"> -->

  <link rel="stylesheet" href="../../assets/style/normalize.css">
  <link rel="stylesheet" href="../../assets/style/pages/offline.scss">
</head>

<body>
  <main class="main">
    <h1 class="offline__logo">
      <img class="offline__logo-image" src="../../assets/img/logo.svg" alt="Picross Universe">
    </h1>
    <h2 class="offline__title">
      Oops!
    </h2>
    <p class="offline__text">
      It seems like you are trying to access the game without any internet connection.
    </p>
    <p class="offline__text">
      Sorry, But our game only works when you are online  
      <span class="offline__text-highlight"> :(</span>
    </p>
  </main>
</body>
</html>
