@use '../../core/config' as *;
@use '../../core/functions' as *;
@use '../animation/slide-in-from-left' as *;
@use '../animation/slide-in-from-top' as *;

.border-button {
  position: absolute;
  left: 0;
}

.border-button--toggle-settings {
  top: 0;
}

.border-button--clear-picross {
  top: rem(80);
}

.border-button--install-pwa {
  top: rem(160);
}

.border-button__button {
  border-bottom-right-radius: rem(6);
  z-index: index-level(lvl3);
  background-color: get-color(main, contrast);
  border: none;
  padding: rem(15) rem(25);
  transition: 0.25s;
  position: sticky;
  animation-name: slideInFromLeft;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  transform: translateX(-100%);
}

.border-button__button:focus {
  border-right: rem(3) solid get-color(main, white);
  border-bottom: rem(3) solid get-color(main, white);
}

.border-button:nth-child(n+2) .border-button__button:focus{
  border-top: rem(3) solid get-color(main, white);
}

.border-button__button--toggle-settings {
  animation-delay: 0.3s;
}

.border-button__button--clear-picross {
  animation-delay: 0.5s;
}

.border-button__button--install-pwa {
  animation-delay: 0.7s;
}

.border-button__button--clear-picross,
.border-button__button--install-pwa {
  border-top-right-radius: rem(6);
}

.border-button__button:hover {
  background-color: get-color(main, contrast-hover);
}

.border-button__button::before {
  font-family: "icons";
  display: block;
  font-size: rem(36);
  color: get-color(main, main-darker);
}

.border-button__button--clear-picross::before {
  content: get-icon("reset");
  font-weight: bold;
}

.border-button__button--toggle-settings::before {
  content: get-icon("settings");
  font-weight: bold;
}

.border-button__button--install-pwa::before {
  content: get-icon("install");
  font-weight: normal;
}

@include respond-to(smartphone) {
  .border-button__button {
    padding: rem(15);
    animation-name: slideInFromTop;
    transform: translate(0%, -100%);
  }

  .border-button__button:focus {
    border-top: none;
    border-left: rem(3) solid get-color(main, white);
  }

  .border-button:first-child .border-button__button:focus {
    border-left: none;
  }

  .border-button:nth-child(n+2) .border-button__button:focus {
    border-top: none;
  }


  .border-button__button::before {
    font-size: rem(30);
  }

  .border-button--clear-picross {
    top: 0;
    left: rem(75);
  }

  .border-button--install-pwa {
    top: 0;
    left: rem(150);
  }

  .border-button__button--clear-picross,
  .border-button__button--install-pwa {
    border-top-right-radius: 0;
    border-bottom-right-radius: rem(6);
    border-bottom-left-radius: rem(6);
    border-top: none;
  }
}
