@import '../../core/functions/em.scss';
@import '../../core/functions/viewport.scss';

.o-cloud {
  height: auto;
}

.o-cloud.--bottom-back {
  width: vw(1428);
}

.o-cloud.--bottom-front {
 width: vw(1428);
}

.o-cloud.--left-top-large {
  width: vw(502);
}

.o-cloud.--left-top-medium {
  width: vw(229);
}


.o-cloud.--right-top-large {
  width: vw(435);
}

.o-cloud.--right-top-medium {
  width: vw(220);
}


.o-cloud.--right-top-small {
  width: vw(138);
}
