@import '../../core/config/colors.scss';
@import '../../core/functions/em.scss';
@import '../animation/a-decoration-banner.scss';

.c-menu__item-holder {
  list-style-type: none;
  margin-bottom: rem(15);
  text-align: right;
  position: relative;
}

.c-menu__item-holder a {
  display: inline-block;
  line-height: rem(100);
}

.c-menu__item {
  margin-right: rem(205);
  color: map-get($theme, light);
  text-align: center;
  font-size: rem(38);
  width: rem(400);
  height: rem(100);
  position: relative;
  background-color: transparent;
  border: none;
  z-index: 100;
}

.c-menu__item:hover,
.c-menu__item:focus {
  @extend .a-decoration-banner-text;
}

.c-menu__item:hover ~ .c-menu__item-decoration,
.c-menu__item:focus ~ .c-menu__item-decoration {
  @extend .a-decoration-banner-background;
  height: rem(100);
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: rem(205);
}

.c-menu__item:hover ~ .c-menu__item-decoration {
  @extend .a-decoration-banner-background-hover;
}

.c-menu__item:focus ~ .c-menu__item-decoration {
  @extend .a-decoration-banner-background-focus;
}

.c-menu__item:hover ~ .c-menu__item-decoration::before,
.c-menu__item:focus ~ .c-menu__item-decoration::before {
  content: '';
  @extend .a-decoration-banner-before;
  display: block;
  position: absolute;
  height: rem(100);
  right: rem(-205);
  top: rem(5);
  z-index: -2;
  -webkit-box-shadow: inset rem(40) 0 rem(12) rem(-25) rgba(0,0,0,0.29);
  -moz-box-shadow: inset rem(40) 0 rem(12) rem(-25) rgba(0,0,0,0.29);
  box-shadow: inset rem(40) 0 rem(12) rem(-25) rgba(0,0,0,0.29);
}

.c-menu__item:hover ~ .c-menu__item-decoration::before {
  @extend .a-decoration-banner-before-hover;
}

.c-menu__item:focus ~ .c-menu__item-decoration::before {
  @extend .a-decoration-banner-before-focus;
}

.c-menu__item:focus,
.c-menu__item:hover {
  font-weight: bold;
}

.c-menu__item:focus.c-menu__item:hover {
  @extend .a-decoration-banner-text-focus-and-hover ;
}
