.clear-picross-button {
  position: absolute; 
  top: 100px; 
  left: 0;
  overflow: hidden;
}

.clear-picross-button__button {
  cursor: pointer;
  left: 0;
  font-size: 0;
  z-index: z-index('lvl2');
  border-bottom-right-radius: rem(6);
  border-top-right-radius: rem(6);
  border: none;
  border-top: 2px solid map-get($colors, contrast);
  border-bottom: 2px solid map-get($colors, contrast);
  border-right: 2px solid map-get($colors, contrast);
  background-color: map-get($colors, main);
  padding: rem(15) rem(25);
}

.clear-picross-button__button:hover {
  background-color: map-get($colors, neutral);
}

.clear-picross-button__button::before {
  content: icon('settings');
  font-family: 'icons';
  display: block;
  font-size: rem(36);
  color: map-get($colors, contrast); 
  font-weight: bold;
}

// @include respond-to(smartphone) {
//   .clear-picross-button__button::before {
//     font-size: rem(30);
//   }
// }
