.github-corner {
  z-index: z-index('lvl2');
}

.github-corner:hover .github-corner__octocat{
  fill: map-get($colors, contrast-hover);
}

.github-corner__octocat {
  width: rem(80);
  height: rem(80);
  fill: map-get($colors, contrast); 
  color: map-get($colors, neutral); 
  position: absolute; 
  top: 0; 
  border: 0;
  right: 0;
  transition: 0.3s;
}

.github-corner:hover .github-corner__octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@include respond-to(mobile) {
  .github-corner__octocat {
    color: map-get($colors, main-darker); 
  }

  .github-corner:hover .github-corner__octo-arm {
    animation: none;
  }

  .github-corner .github-corner__octo-arm {
    animation-delay: 5s;
    animation: 560ms octocat-wave 0.5s ease-in-out;
  }
}
