
.picross__table {
  background-color: rgba($color: map-get($colors, base), $alpha: 0.94);
  width: 44vw;
  height: 40vw;
  display: block;
  margin-right: rem(40);
  border-collapse: separate !important;
  box-sizing: border-box !important;
  text-indent: initial !important;
  overflow: auto;
  overflow-x: auto;
  border-radius: rem(20);
  padding: rem(10);

  -webkit-box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  -moz-box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);

  transition: 0.15s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.4s;
}

.picross__table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: rem(20);
  overflow:auto;
  overflow-x: auto;

}

.picross__row {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.picross__square {
  background-color: map-get($picross, square);
  flex-grow: 1;
  flex-basis: 0;
  border: rem(1) solid map-get($colors, base);
  box-sizing: border-box;
  transition: 0.10s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.3s;
}

.picross__square:hover {
  background-color: map-get($picross, square-hover);
}

.picross__square--true {
  background-color: map-get($picross, square-true) !important;
}

.picross__square--highlight {
  background-color: map-get($picross, square-highlight);

  border-radius: 0;
  border-spacing: rem(2) !important;
}

.picross__square--true.picross__square--highlight {
  background-color: map-get($picross, square-highlight-true) !important;
}

.picross__square--true.picross__square:hover {
  background-color: map-get($picross, square-true-hover) !important;
}

.picross__square--active-hover {
  background-color: map-get($picross, square-active);
}

.picross__square--false {
  background-color: map-get($picross, square-false);
  text-align: center;
  position: relative;
}

.picross__square--false.picross__square--highlight {
  background-color: map-get($picross, square-highlight-false) !important;
}
.picross__square--false.picross__square:hover {
  background-color: map-get($picross, square-false-hover) !important;
}

.picross__square--false::after {
  content: '\e998';
  font-family: 'icon';
  font-size: rem(26);
  display: block;
  color: map-get($colors, contrast);
  font-weight: bolds;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: rem(26);
  transform: translate(-50%, -50%);
}

.picross__values {
  border: rem(1) solid map-get($colors, base);
  background-color: map-get($picross, values-1);
  flex-grow: 1;
  justify-content: flex-end;
  box-sizing: border-box; 

  transition: 0.15s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.3s;
}

.picross__values--horizontal:nth-child(odd) {
    background-color: map-get($picross, values-2);
}

.picross__row:nth-child(even) .picross__values--vertical{
    background-color: map-get($picross, values-2);
}

.picross__values--horizontal {
  flex-direction: column;
  flex-basis: 20%;
  padding-top: rem(5);
}


.picross__values--horizontal .picross__numbers {
  margin-bottom: 7%;
}


.picross__values--horizontal .picross__numbers:last-child {
  margin-bottom: 10%;
}

.picross__values {
  display: block;
  letter-spacing: 0;
  display: flex;
  position: relative;
  flex-basis: 0;
  font-size: rem(26);
}

.picross__values--timer {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: map-get($colors, contrast);
  background-color: rgba($color: map-get($colors, base), $alpha: 0.0);
}

.picross__timer {
  font-size: rem(24);
}

.picross__values--vertical {
  flex-basis: 10%;
  padding-left: rem(5);
}

.picross__values--vertical .picross__numbers {
  margin-right: 7%;
}

.picross__values--vertical .picross__numbers:last-child {
  margin-right: 10%;
}

.picross__numbers {
  font-size: 0.67em;
  letter-spacing: 0;
  flex-grow: 0;
  flex-basis: 0;
  display: flex;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  color: map-get($colors, white);;
}

.picross__square:nth-child(5n+6):not(:last-child)::after  {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-right: 1px solid map-get($picross, square-separation);
}

.picross__square:nth-child(5n+7):not(:last-child)::after  {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-left: 1px solid map-get($picross, square-separation);
}


.picross__row:nth-child(5n+6):not(:last-child) .picross__square::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid map-get($picross, square-separation);
}

.picross__row:nth-child(5n+7):not(:last-child) .picross__square::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-top: 1px solid map-get($picross, square-separation);
}