// .content {
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   position: absolute;
// }

.picross__table {
  background-color: rgba($color: #110C40, $alpha: 0.94);
  width: 44vw;
  height: 40vw;
  // width: 45vw;
  // height: 86.5vh;
  // margin-bottom: 10px;
  display: block;
  margin-right: 40px;
  border-collapse: separate !important;
  box-sizing: border-box !important;
  text-indent: initial !important;
  overflow: auto;
  overflow-x: auto;
  border-radius: 20px;
  padding: 10px;

  -webkit-box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.45);
  -moz-box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.45);
  box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.45);

  // transition: 0.15s;
  // transition-timing-function: linear;
  // animation-name: popIn;
  // animation-duration: 0.4s;
}

tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow:auto;
  overflow-x: auto;

}

.picross__row {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.picross__values {
  border: 1px solid #110C40;
  background-color: #2c275f;
  flex-grow: 1;
  // font-weight: bold;
  justify-content: flex-end;

  transition: 0.15s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.3s;
}

.picross__values--horizontal:nth-child(odd) {
    // background-color: #362475;
    background-color: #342a6d;
}

.picross__row:nth-child(even) .picross__values--vertical{
    // background-color: #362475;
    background-color: #342a6d;
}

.picross__square {
  background-color: #221A90;
  background-color: #B7C1D7;

  // background-color: #452979;
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid #110C40;

  transition: 0.10s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.3s;
}

.picross__square:hover {
  // background-color: #4a40af;
  background-color: #8ea4eb;
}

.picross__square--true {
  // background-color: #2e1fd4 !important;
  background-color: #342ca5 !important;
}

.picross__square--highlight {
  background-color: #4052B3;
  background-color: #aeb8f3;

  border-radius: 0;
  border-spacing: 2px !important;
}

.picross__square--true.picross__square--highlight {
  background-color: #3d32b9 !important;
}

.picross__square--true.picross__square:hover {
  background-color: #4438cf !important;
}

.picross__square--active-hover {
  background-color: #3429a8;
}

.picross__square--false {
  background-color: #15104d;
  text-align: center;
  position: relative;
}

.picross__square--false.picross__square--highlight {
  background-color: #19135e !important;
}
.picross__square--false.picross__square:hover {
  background-color: #1d166e !important;
}
.picross__square--false::after {
  content: '\e998';
  font-family: 'icon';
  font-size: 26px;
  display: block;
  color: #FDCA17;
  font-weight: bolds;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 26px;
  transform: translate(-50%, -50%);
}



.picross__values--horizontal {
  flex-direction: column;
  flex-basis: 20%;
  padding-top: 5px;
}


.picross__values--horizontal .picross__numbers {
  margin-bottom: 7%;
}


.picross__values--horizontal .picross__numbers:last-child {
  margin-bottom: 10%;
}

.picross__values {
  display: block;
  letter-spacing: 0;
  display: flex;
  position: relative;
  flex-basis: 0;
  font-size: 26px;
}

.picross__values--timer {
  flex-basis: 10%;
}

.picross__values--vertical {
  flex-basis: 10%;
  padding-left: 5px;
}

.picross__values--vertical .picross__numbers {
  margin-right: 7%;
}

.picross__values--vertical .picross__numbers:last-child {
  margin-right: 10%;
}


.picross__numbers {
  font-size: 0.67em;
  letter-spacing: 0;
  flex-grow: 0;
  flex-basis: 0;
  display: flex;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}



// .picross {
//   position: absolute;
//   width: 50vw;
//   height: calc(100vh - 20px);
//   display: inline-block;
//   bottom: 0;
//   right: 0;
// }

// .picross__table {
//   width: 50vw;
//   height: calc(100vh - 20px);
//   border-radius: 30px;
//   border-collapse: collapse;
//   display: block;
//   border-radius: 20px;
//   overflow-x: auto;
//   overflow-y: auto;
// }

// .picross__table tbody {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
//   border-radius: 20px;
// }

// .picross__row {
//   display: flex;
//   flex-grow: 1;
//   flex-basis: 0;
//   background-color: #17105c;
//   padding-right: 5px;
// }

// .picross__square {
//   flex-grow: 1;
//   flex-basis: 0;
//   display: block;
//   border: 3px solid #17105c;
//   background-color: #221A75;
//   border-radius: 9px;
//   min-width: 3vw;
//   min-height: 3vw;
// }




// .picross__row:nth-child(2) .picross__square{
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

// .picross__row .picross__square:nth-child(2) {
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .picross__row .picross__square:last-child{
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
// }

// .picross__row:last-child .picross__square{
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
// }

// .picross__row:last-child {
//   padding-bottom: 5px;
//   border-bottom-left-radius: 10px;
//   border-bottom-right-radius: 10px;
// }

// .picross__values {
//   display: flex;
//   flex-grow: 1;
//   flex-basis: 0;
//   justify-content: center;
//   align-items: center;
//   color: #fff;
// }


// .picross__values--vertical {
//   justify-content: flex-end;
//   padding-right: 10px;
// }

// .picross__values--vertical, .picross__values--timer {
//   flex-basis: 10%;
//   min-width: 5vw;

// }

// .picross__values--horizontal {
//   min-width: 3vw;
//   // min-height: 3vw;
// }

// .picross__row--horizontal .picross__values--horizontal {
//   border-left: 3px solid #17105c;
//   border-right: 3px solid #17105c;
//   border-bottom: 3px solid #17105c;
//   flex-direction: column;
//   justify-content: flex-end;
//   padding-bottom: 8px;
// }

// .picross__values--timer {
//   border: 3px solid transparent;
//   border-left: 0;
//   border-left: 10px solid #17105c;
//   border-right: 10px solid #17105c;
//   border-bottom: 10px solid #17105c;
//   border-top: 10px solid #17105c;
//   background: #221A75;
// }

// .picross__values:not(.picross__values--timer) {
//   background-color: rgba($color: #2B2097, $alpha: 1);
//   border-top: 3px solid #17105c;
//   border-right: 3px solid #17105c;
//   border-bottom: 3px solid #17105c;
//   padding-top: 3px;
//   padding-bottom: 3px;
// }

// .picross__numbers {
//   font-size: 1.2em;
//   font-weight: bold;
// }

// .picross__values--vertical .picross__numbers {
//   margin-right: 5px;
// }

// // .picross__values:nth-child(odd) {
// //   background-color: rgba($color: #5d2097, $alpha: 1);
// // }