.settings {
  background-color:rgba($color:  #110C40, $alpha: 0.90);
  flex-grow: 1;
  height: 35vw;
  max-width: 20vw;
  border-radius: 20px;
  padding: 2.5vw 2vw;
  -webkit-box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  -moz-box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  
  transition: 0.15s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.4s;
}

.settings__holder {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:start;
  height: 100%;
}

.settings__holder * {
  flex-basis: 100%;
}

.settings__title {
  color: #FDCA17;
  flex-basis: 100%;
  margin-top: 0;
  margin-bottom: rem(15);
}

.settings__title-image {
  max-width: 14vw;
}

.settings__label {
  color: #FDCA17;
  font-size: 1.8vw;
  font-weight: bold;
  margin-bottom: rem(25);
  max-height: 0.5vw;
}


.settings__option {
  flex-basis: 100%;
  font-weight: bold;
  background-color: transparent;
  border: rem(4) solid #fff;
  border-radius: 10px;
  padding: 0.7vw 1vw;
  text-align: center;
  color: #fff;
  margin-bottom: rem(25);
  max-height: 4vw;
  font-size: 1.7vw;
}

.settings__button {
  background-color: transparent;
  border: rem(4) solid #fff;
  border-radius: 10px;
  padding: 0.9vw 1vw;
  color: #fff;
  font-size: 1.7vw;
  flex-basis: 100%;
  align-self: flex-end;
  font-family: 'Roboto';
}

.settings__button:hover, .settings__option:hover {
  background-color: rgba($color: #fff, $alpha: 0.15);
}
