.settings {
  background-color:rgba($color:  map-get($colors, base), $alpha: 0.90);
  flex-grow: 1;
  max-width: rem(272);

  border-radius: rem(20);
  padding: rem(27);
  -webkit-box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  -moz-box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  
  transition: 0.15s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.4s;
}

.settings__holder {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:start;
  height: 100%;
}

.settings__holder * {
  flex-basis: 100%;
}

.settings__close {
  display: none;
}

.settings__title {
  color: map-get($colors, contrast);
  flex-basis: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: rem(10);
}

.settings__title-image {
  max-width: rem(195);
}

.settings__label {
  color: map-get($colors, contrast);
  font-size: rem(24);
  font-weight: bold;
  margin-bottom: rem(10);
}


.settings__option {
  font-size: rem(23);
  color: map-get($colors, white);
  flex-basis: 100%;
  font-weight: bold;
  background-color: transparent;
  border: rem(4) solid map-get($colors, white);
  border-radius: rem(10);
  padding: rem(9.5) rem(13.6);
  text-align: center;
  margin-bottom: rem(25);
  max-height: rem(54);
}

.settings__button {
  cursor: pointer;
  font-size: rem(23);
  color: map-get($colors, white);
  border: rem(4) solid map-get($colors, white);
  background-color: transparent;
  border-radius: rem(10);
  padding: rem(12) rem(13);
  flex-basis: 100%;
  margin-top: rem(20);
  align-self: flex-end;
}

.settings__button:hover, .settings__button:focus, 
.settings__option:hover, .settings__option:focus {
  background-color: rgba($color: map-get($colors, white), $alpha: 0.15);
}

@include respond-to(notebook) {
  .settings {
    padding: rem(26) rem(20);
    max-width: rem(242);
  }

  .settings__title-image {
    max-width: rem(156);
  }

  .settings__label {
    font-size: rem(18);
  }

  .settings__option {
    font-size: rem(18);
    border: rem(3) solid map-get($colors, white);
    border-radius: rem(8);
    margin-bottom: rem(20);
  }

  .settings__button {
    font-size: rem(20);
    border: rem(3) solid map-get($colors, white);
    border-radius: rem(8);
    padding: rem(9.5) rem(13);
    margin-top: rem(15);
  }

}

@include respond-to(mobile) {
  .settings {
    position: fixed;
    z-index: z-index('lvl3');
    top: 0;
    border-radius: 0;
    
    width: 100vw;
    max-width: 100%;
    min-height: 100%;
    min-height: -webkit-fill-available;
  }

  .settings__close {
    display: block;
    position: absolute;
    z-index: z-index('lvl4');

    right: rem(10);
    top: rem(10);
    background-color: transparent;
    border: 0;
    font-size: 0;
  }

  .settings__close::before {
    content: icon('close');
    font-family: 'icons';
    z-index: z-index('lvl4');
    display: block;
    font-size: rem(30);
    color: map-get($colors, contrast);
    cursor: pointer;
  }

  .settings__holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: rem(40) rem(27);
    width: 100%;
  }

  .settings__title-image {
    margin-bottom: rem(10);
  }

  .settings__label {
    font-size: rem(26);
    margin-bottom: rem(5);
  }

  .settings__option {
    font-size: rem(26);
    margin-bottom: rem(15);
  }

  .settings__button {
    font-size: rem(26);
  }
}

@include respond-to(tablet) {
  .settings__close {
    right: rem(20);
    top: rem(20);
  }

  .settings__close::before {
    font-size: rem(46);
  }
  
  .settings__holder {
    max-width: rem(600);
    max-height: 80vh;
  }

  .settings__title-image {
    max-width: rem(300);
  }

  .settings__option {
    padding-top: rem(32);
    padding-bottom: rem(32);
  }

  .settings__button {
    padding-top: rem(26);
    padding-bottom: rem(26);
  }

}

@include respond-to(smartphone) {
  .settings__holder  {
    max-width: 100%;
    max-height: rem(600);
  }

  .settings__title-image {
    max-width: rem(230);
  }

  .settings__option {
    padding-top: rem(20);
    padding-bottom: rem(20);
  }

  .settings__button {
    padding-top: rem(15);
    padding-bottom: rem(15);
  }
}