.toggle-settings-button {
  position: absolute; 
  top: 0; 
  left: 0;
}

.toggle-settings-button__button {
  cursor: pointer;
  font-size: 0;
  z-index: z-index('lvl2');
  border-bottom-right-radius: rem(6);
  background-color: map-get($colors, contrast);
  border: none;
  padding: rem(15) rem(25);
}

.toggle-settings-button__button:hover {
  background-color: map-get($colors, contrast-hover);
}

.toggle-settings-button__button::before {
  content: icon('settings');
  font-family: 'icons';
  display: block;
  font-size: rem(36);
  color: map-get($colors, main-darker); 
  font-weight: bold;
}

@include respond-to(smartphone) {
  .toggle-settings-button__button::before {
    font-size: rem(30);
  }

  .toggle-settings-button__button {
  padding: rem(15);
  }
}
