.modal__overlay {
  background-color: rgba($color: map-get($colors, black), $alpha: 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  transition: 0.15s;
}

.modal__content {
  margin: 0 auto;
  max-width: rem(612);
  width: 100%;
  max-height: rem(330);
  height: 100%;
  
  background-color: map-get($colors, main);
  position: fixed;
	top: 50%;
  left: 50%;
  z-index: 1000;
  border: rem(8) solid map-get($colors, contrast);
  border-radius: rem(30);
  padding: rem(20) rem(40);
  text-align: center;
  transform: translateX(-50%) translateY(-50%);

  transition-timing-function: linear;
  animation-name: popInTranslate;
  animation-duration: 0.5s;
}

.modal__close {
  position: absolute;
  right: rem(20);
  top: rem(15);
  background-color: transparent;
  border: 0;
  font-size: 0;
}

.modal__close::before {
  content: '\e997';
  font-family: 'icon';
  display: block;
  font-size: rem(30);
  color: map-get($colors, contrast);
  cursor: pointer;
}

.modal__close:hover::before {
  color: map-get($colors, contrast-hover);
}

.modal__content-container {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__title {
  color: map-get($colors, contrast);
  font-size: rem(79);
  letter-spacing: 7pt;
  margin-top: 0;
  margin-bottom: rem(34);
  border-bottom: rem(8) dashed map-get($colors, contrast);
}

.modal__time {
  color: map-get($colors, white);
  font-size: rem(40);
  display: block;
  font-weight: bold;
  letter-spacing: 3pt;
  margin-bottom: rem(15);
}

.modal__size {
  color: map-get($colors, white);
  font-size: rem(34);
  font-weight: bold;
  letter-spacing: 3pt;
  display: flex;
  justify-content: space-evenly;
}
