.picross__values--timer {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: map-get($colors, contrast);
  background-color: rgba($color: map-get($colors, base), $alpha: 1);
  min-width: rem(96);
  border-bottom-left-radius: rem(3);
  border-top-left-radius: rem(3);
}

.picross__timer {
  font-size: rem(24);
}

.picross__timer--10 {
  font-size: rem(20);
}

.picross__timer--15 {
  font-size: rem(17);
}

.picross__timer--20 {
  font-size: rem(17);
}

.picross__timer--25 {
  font-size: rem(17);
}

.picross__timer--30 {
  font-size: rem(17);
}

@include respond-to(notebook) {
  .picross__timer {
    font-size: rem(16);
  }

   .picross__values--timer {
    border-bottom-left-radius: rem(0);
    border-top-left-radius: rem(0);
  }  
}

@include respond-to(tablet) {
  .picross__values--timer {
    min-width: rem(90); 
  }
  .picross__timer {
    font-size: rem(14);
  }
}


@include respond-to(smartphone) {
  .picross__values--timer {
    max-width: rem(80);
    min-width: rem(80);
    border-bottom-left-radius: rem(0);
    border-top-left-radius: rem(0);
  }
  
  .picross__timer {
    font-size: rem(12);
  }
}
