<link rel="apple-touch-icon" sizes="180x180" href="/src/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/src/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/src/assets/favicons/favicon-16x16.png">
<link rel="mask-icon" href="/src/assets/favicons/safari-pinned-tab.svg" color="#221a75">
<link rel="shortcut icon" href="/src/assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#221a75">
<meta name="msapplication-config" content="/src/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#221a75">
