<div class="s-home" style="height: 3600px;">
  <h1>
    <img src="" alt="Picross Universe">
  </h1>
  <ul class="c-menu">
    <li class="c-menu__item-holder -focus" autofocus>
      <button class="c-menu__item -focus">
        New Game
      </button>
    </li>
    <li class="c-menu__item-holder">
      <button class="c-menu__item">
        How To Play
      </button>
    </li>
    <li class="c-menu__item-holder">
      <button class="c-menu__item">
        Install app
      </button>
    </li>
    <li class="c-menu__item-holder">
      <button class="c-menu__item">
        GitHub
      </button>
    </li>
  </ul>
</div>