<div class="s-home">
  <h1>
    <img class="c-logo" src="" alt="Picross Universe">
  </h1>
  <ul class="c-menu">
    <li class="c-menu__item-holder">
      <button class="c-menu__item" tabindex="1" autofocus>
        New Game
      </button>
      <div class="c-menu__item-decoration"></div>
    </li>
    <li class="c-menu__item-holder">
      <button class="c-menu__item" tabindex="2">
        How To Play
      </button>
      <div class="c-menu__item-decoration"></div>
    </li>
    <li class="c-menu__item-holder">
      <button class="c-menu__item" tabindex="3">
        Install App
      </button>
      <div class="c-menu__item-decoration"></div>
    </li>
    <li class="c-menu__item-holder">
      <button class="c-menu__item" tabindex="4">
        GitHub
      </button>
      <div class="c-menu__item-decoration"></div>
    </li>
  </ul>
</div>