<div
  class="modal hidden"
  data-modal
  data-modal-clear-picross
  aria-hidden="true"
>
  <div class="modal__overlay" data-modal-clear-picross-overlay></div>
  <div class="modal__content modal__content--clear-picross-confirm">
    <button
      class="modal__close"
      data-modal-clear-picross-close
      title="Close modal"
    ></button>
    <div class="modal__content-container">
      <h2 class="modal__sub-title">Are you sure?</h2>
      <p class="modal__text">Do you really want to clear all your progress?</p>
      <div class="modal__buttons-container">
        <button class="modal__button" data-modal-clear-picross-cancel>
          No
        </button>
        <button class="modal__button" data-modal-clear-picross-confirm>
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
