<div class="modal hidden" data-modal data-modal-win-screen aria-hidden="true">
  <div class="modal__overlay" data-modal-win-screen-overlay>
  </div>
  <div class="modal__content">
    <button class="modal__close" data-modal-win-screen-close title="Close modal"></button>
    <div class="modal__content-container">
      <h2 class="modal__title">You Win!</h2>
      <span class="modal__time">Time: <span data-modal-win-screen-time>00:00:00</span></span>
      <div class="modal__size">
        <span>Columns: <span class="modal__rows" data-modal-win-screen-columns>5</span></span>
        <span>Rows: <span class="modal__columns" data-modal-win-screen-rows>5</span></span>
      </div>
    </div>
  </div>
</div>