<div class="settings">
  <div class="settings__holder">
    <h2 class="settings__title">
      Picross Size:
    </h2>
    <label for="rows" class="settings__label">Rows:</label>
    <input type="number" data-select-width value="5" id="rows" class="settings__option" min="5" max="30" step="5">
    <label for="columns" class="settings__label">Columns:</label>
    <input type="number" data-select-height value="5" id="columns" class="settings__option" min="5" max="30" step="5">
    <button data-generate-picross class="settings__button">Create</button>
  </div>
</div>