<div class="side-bar">
  <div class="side-bar__settings">
    <h2>
      Picross Size: 
    </h2>
    <select data-select-width>
      <option value="5">
        5
      </option>

      <option value="10">
        10
      </option>

      <option value="15">
        15
      </option>

      <option value="20">
        20
      </option>

      <option value="25">
        25
      </option>

      <option value="30">
        30
      </option>
    </select>

    <select data-select-height>
      <option value="5">
        5
      </option>

      <option value="10">
        10
      </option>

      <option value="15">
        15
      </option>


      <option value="25">
        20
      </option>

      <option value="25">
        25
      </option>

      <option value="30">
        30
      </option>
    </select>

    <button data-generate-picross>Generate</button>

    <div>
      <input type="checkbox" id="autoCorrect" name="autoCorrect">
      <label for="autoCorrect">Auto-Correct</label>
    </div>
  </div>
</div>