<div class="settings">
  <div class="settings__holder">
    <h2 class="settings__title">
      Picross Size:
    </h2>
    <label for="rows" class="settings__label">Rows:</label>
    <select id="rows" data-select-width class="settings__options">
      <option value="5">
        5
      </option>

      <option value="10">
        10
      </option>

      <option value="15">
        15
      </option>

      <option value="20">
        20
      </option>

      <option value="25">
        25
      </option>

      <option value="30">
        30
      </option>
    </select>

    <label for="columns" class="settings__label">Columns:</label>
    <select id="columns" data-select-height class="settings__options">
      <option value="5">
        5
      </option>

      <option value="10">
        10
      </option>

      <option value="15">
        15
      </option>


      <option value="25">
        20
      </option>

      <option value="25">
        25
      </option>

      <option value="30">
        30
      </option>
    </select>
    <button data-generate-picross class="settings__button">Create</button>
  </div>
</div>