<div class="t-template">
  <!-- <div style="height: 100vh; width: 100vw; background-color: #000; opacity: 0.05; position: absolute; z-index: 100"> -->
</div>
<div class="t-template__background">
  <div class="t-template__moon">
    <include src="./background/moon.html"></include>
  </div>
  <div class="t-template__cloud --bottom-back">
    <include src="./background/clouds/bottom-back-1.html"></include>
  </div>
  <div class="t-template__cloud --bottom-front">
    <include src="./background/clouds/bottom-front.html"></include>
  </div>
  <div class="t-template__cloud --left-top-large">
    <include src="./background/clouds/left-top-large.html"></include>
  </div>
  <div class="t-template__cloud --left-top-medium-1">
    <include src="./background/clouds/left-top-medium.html"></include>
  </div>

  <div class="t-template__cloud --left-top-medium-2">
    <include src="./background/clouds/left-top-medium.html"></include>
  </div>

  <div class="t-template__cloud --right-top-large">
    <include src="./background/clouds/right-top-large.html"></include>
  </div>

  <div class="t-template__cloud --right-top-medium">
    <include src="./background/clouds/right-top-medium.html"></include>
  </div>

  <div class="t-template__cloud --right-top-small">
    <include src="./background/clouds/right-top-small.html"></include>
  </div>
</div>
</div>