<div class="modal hidden" data-modal>
  <div class="modal__overlay" data-modal-overlay>
  </div>
  <div class="modal__content">
    <button class="modal__close" data-modal-close>Close</button>
    <div class="modal__content-container">
      <h2 class="modal__title">You Win!</h2>
      <span class="modal__time" data-modal-time>Time: 00:00:00</span>
      <div class="modal__size">
        <span>Columns: <span class="modal__rows" data-modal-columns>5</span></span>
        <span>Rows: <span class="modal__columns" data-modal-rows>5</span></span>
      </div>
    </div>
  </div>
</div>