<div class="modal hidden" data-modal>
  <div class="modal__overlay" data-modal-overlay>
  </div>
  <div class="modal__content">
    <button class="modal__close" data-modal-close>Close</button>
    <div class="modal__content-container">
      <h2 class="modal__title">You Win!</h2>
      <span class="modal__time" data-modal-time>Time: 09:23:28</span>
      <div class="modal__size">
        <span class="modal__rows" data-modal-rows>Columns: 15</span>
        <span class="modal__columns" data-modal-columns>Rows: 15</span>
      </div>
    </div>
  </div>
</div>