@import '../../core/config/colors.scss';
@import '../../core/functions/em.scss';

// Banner before
@keyframes decoration-banner-before-focus {
  0%{width: 0;}
  100%{width: rem(210);}
  from {background-color: transparent;}
  to {background-color: map-get($theme, secondary-darker);}
}

@keyframes decoration-banner-before-hover {
  0%{width: 0;}
  100%{width: rem(210);}
  from {background-color: transparent;}
  to {background-color: map-get($theme, neutral-light);}
}

.a-decoration-banner-before {
  animation-fill-mode: forwards;     
  animation-timing-function: linear;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
}

.a-decoration-banner-before-hover {
  animation-name: decoration-banner-before-hover;
}

.a-decoration-banner-before-focus {
  animation-name: decoration-banner-before-focus;
}

// Banner Background

@keyframes decoration-banner-background-focus {
  0%{width: 0;}
  100%{width: rem(400);}
  from {background-color: transparent;}
  to {background-color: map-get($theme, secondary);}
  from{box-shadow: none;}
  to{box-shadow: 0 rem(9) rem(14) 0 rgba(0,0,0,0.51);}
}

@keyframes decoration-banner-background-hover {
  0%{width: 0;}
  100%{width: rem(400);}
  from {background-color: transparent;}
  to {background-color: map-get($theme, light);}
}
.a-decoration-banner-background {
  animation-fill-mode: forwards;     
  animation-timing-function: linear;
  animation-duration: 0.15s;
  animation-delay: 0.15s;
  animation-iteration-count: 1;
}

.a-decoration-banner-background-hover {
  animation-name: decoration-banner-background-hover;
}

.a-decoration-banner-background-focus {
  animation-name: decoration-banner-background-focus;
}

// Banner Text
@keyframes decoration-banner-text{
  from {color: map-get($theme, light);}
  to {color: map-get($theme, main);}
}

.a-decoration-banner-text {
  animation-name: decoration-banner-text;
  animation-fill-mode: forwards;     
  animation-timing-function: linear;
  animation-duration: 0.15s;
  animation-delay: 0.15s;
  animation-iteration-count: 1;
}

@keyframes decoration-banner-text-focus-and-hover {
  from {color: map-get($theme, light);}
  to {color: map-get($theme, light);}
}

.a-decoration-banner-text-focus-and-hover {
  animation-name: decoration-banner-text-focus-and-hover;
  animation-fill-mode: forwards;     
  animation-timing-function: linear;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
}
