.picross__table {
  background-color: rgba($color: map-get($colors, base), $alpha: 0.94);
  width: rem(623);
  height: rem(566);
  display: block;
  margin-right: rem(40);
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-radius: rem(20);
  padding: rem(10);

  -webkit-box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  -moz-box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  box-shadow: rem(3) rem(3) rem(3) rem(5) rgba(0,0,0,0.45);
  transition: 0.15s;
  transition-timing-function: linear;
  animation-name: popIn;
  animation-duration: 0.4s;
}

.picross__table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: rem(20);
  overflow-y: auto;
  overflow-x: auto;

  //firefox custom scrollbar
  scrollbar-color: map-get($colors, contrast) map-get($colors, base);
  scrollbar-width: auto;

  // ie and edge custom scroll bar
  scrollbar-face-color: map-get($colors, basse);
  scrollbar-track-color: map-get($colors, contrast);
  scrollbar-arrow-color: map-get($colors, base);
  scrollbar-shadow-color: map-get($colors, base); //border
}

.picross__table tbody::-webkit-scrollbar {
  width: rem(12);
  height: rem(12);
}

.picross__table tbody::-webkit-scrollbar-track {
  background-color: map-get($colors, base);
}

.picross__table tbody::-webkit-scrollbar-thumb {
  background-color: map-get($colors, contrast);
  border-radius: rem(30);
}

.picross__table tbody::-webkit-scrollbar-corner {
  background-color: map-get($colors, base);
}

.picross__row:nth-child(1) {
  position: sticky;
  z-index: 10;
  top: 0;
}

.picross__row {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

@include respond-to(mobile) {
  .picross__table {
    margin-right: 0;
  }
}

@include respond-to(tablet) {
  .picross__table {
    width: rem(551.5);
    height: rem(500);
  }
}

@include respond-to(smartphone) {
  .picross {
    width: 100%;
    padding: 0 rem(10);
    display: flex;
    justify-content: center;
    margin-top: rem(10);
  }
  .picross__table {
    width: 100%;
    margin-right: 0;
    height: rem(420);
  }

  .picross__table tbody::-webkit-scrollbar {
    width: rem(9);
    height: rem(9);
  }

  .picross__table tbody {
    border-radius: rem(6);
  }
}
