.picross__values--timer {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: map-get($colors, contrast);
  background-color: rgba($color: map-get($colors, base), $alpha: 0.0);
}

.picross__timer {
  font-size: rem(24);
}

.picross__timer--10 {
  font-size: rem(20);
}

.picross__timer--15 {
  font-size: rem(17);
}

.picross__timer--20 {
  font-size: rem(16);
}

.picross__timer--25 {
  font-size: rem(15);
}

.picross__timer--30 {
  font-size: rem(15);
}
